:root {
  --gallery-gap: 1rem;
  --primaryBackground: #f8f8fe;
  --secondaryBackground: #eee;
  --primaryColor: #333;
  --primaryBorder: #444;
  --secondaryColor: #3c4858;
  --gapSmall: 0.5rem;
  --gapLarge: 2rem;
  --transition: 768px;
  --sansFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryBackground: #333333;
    --secondaryBackground: #363636;
    --primaryColor: #fff;
    --secondaryColor: #f8f8fe;
    --primaryBorder: #ccc;
  }
}

@media (min-width: 1200px) {
  :root {
    --gallery-gap: 2rem;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 4rem 0 0 0;
  margin: 0;
  background: var(--primaryBackground);
  color: var(--primaryColor);
  font-family: var(--sansFontFamily);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
