.gallery {
  display: grid;
  grid-gap: var(--gallery-gap);
  grid-template-columns: repeat(2, 1fr);
}

.gallery.wide {
  grid-template-columns: repeat(1, 100%);
}

@media (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .gallery.wide {
    grid-template-columns: repeat(2, 1fr);
  }
}
