.gallery {
  display: grid;
  /* grid-auto-flow: column; */
  grid-gap: var(--gallery-gap);
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

@media (min-width: 800px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}