.gallery {
  display: grid;
  grid-gap: var(--gallery-gap);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.gallery.wide {
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

@media (min-width: 800px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

   .gallery.wide {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}

@media (min-width: 1040px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}