@import './base.css';

.paginaton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gapSmall);
  background: var(--primaryBackground);
  border-radius: 3px;
  margin-bottom: var(--gapLarge);
}

.icon {
  width: 16px;
  height: 16px;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  text-decoration: 0;
}

.paginationButtonEnabled {
  composes: paginationButton;
  color: var(--primaryColor);

  &:hover {
    background: grey;
  }
}

.paginationButtonActive {
  composes: paginationButton;
  color: var(--primaryColor);
}
