.taglist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 32px;
  margin: 4px -4px;
}

.taglist__tag {
  display: inline-flex;
  margin: 4px;
  text-decoration: none;
  background: #dddddd;
  border-radius: 3px;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 8px;
}
