.gallery {
  padding: 0;
  margin: 0 -0.5rem;
}

.item,
.itemWide {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: calc(100% - 1rem);
}

@media only screen and (min-width: 480px) {
  .item {
    width: calc(100% / 2 - 1rem);
  }

  .itemWide {
    width: calc(100% - 1rem);
  }
}

@media only screen and (min-width: 768px) {
  .item {
    width: calc(100% / 3 - 1rem);
  }

  .itemWide {
    width: calc(100% / 3 * 2 - 1rem);
  }
}

@media only screen and (min-width: 1024px) {
  .item {
    width: calc(100% / 4 - 1rem);
  }

  .itemWide {
    width: calc(100% / 2 - 1rem);
  }
}